body {
    font-family: $font;
    font-weight: 100
}

.line-break {
    display: block;
}

.alert.alert-danger {
    margin: 15px -15px;
}

@media (min-width: 768px) {
    .alert.alert-danger {
        margin: 15px 0px;
    }
}

//responsive
.container {
    // width: auto!important;
    max-width: 1170px;
}

// media queries
$small-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-lg-width: 1200px;
$mobile-width: 0px;
@mixin small {
    @media (min-width: #{$small-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: #{$desktop-lg-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}