h1 {
    font: 500 1.4em $font;
    color: $dark-grey;
    text-transform: uppercase;
}

.details h1 {
    text-transform: none;
    margin-bottom: 0
}

h2 {
    font: 500 1.2em $font;
    color: $dark-grey;
    text-transform: uppercase;
}

.search h2 {
    margin: 0;
    font: 500 1.4em/1em $font;
    color: #fff;
    text-transform: none;
}

.results h2 {
    text-align: center;
    border-bottom: 3px double #ddd;
    @include tablet {
        text-align: left;
        padding-bottom: 8px;
        border-bottom: 3px double #ddd;
    }
}

h3,
.details .route-planner h3 {
    font: bold 1.1em $font;
    color: $dark-grey;
}

.padding-50 {
    padding-top: 30px
}

.store-details h2 {
    text-align: center;
    @include tablet {
        text-align: left;
        padding-bottom: 5px;
    }
}

.highlights h2,
.services h2 {
    border-bottom: 3px double #ddd;
}

.highlights h2 {
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .store-list-address-hours h3 {
        font-size: 1.3em;
        & .results-header-marker {
            font: bold 0.7em $font;
            display: inline-block;
            margin: 0 5px 0 auto;
            text-align: center;
        }
    }
}
