//Header and Navigation
#navbar {
    background: $dark-green;
    text-align: left;
    margin-top: 0;
    padding: 0;
    border: 0;
    @include tablet {
        text-align: center;
    }
}

.navbar-nav>li>a:hover {
    background: transparent;
    color: $yellow;
    text-shadow: 1px 0px #888;
}

.header {
    position: relative;
}

.navbar-default {
    background: $dark-green;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px;
}

.navbar .navbar-collapse {
    text-align: center;
}

#navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    border: 0;
    @include tablet {
        width: 100%;
        text-align: center;
    }
}

.navbar-home {
    background: transparent url(#{$imgPath}/morrisons-logo.svg) no-repeat center center;
    display: block;
    background-size: contain;
    height: 32px;
    width: 95px;
    margin: 1em auto;
    @include tablet {
        margin: 1.5em 0;
        height: 73px;
        width: 132px;
    }
}

.navbar {
    color: #fff;
    border: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 220px;
}

.footer {
    background: #494949;
    color: #fff;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.footer-links a {
    display: block;
    padding: 10px 0;
    font: 100 0.9em $font;
    color: #fff;
}

.footer p {
    font: 100 0.8em $font;
    color: #fff;
    @include tablet {
        font: 100 1em $font;
        color: #fff;
    }
}

.footer-links li+li {
    border-top: 1px solid #666;
}
