$icomoon-font-path: "fonts" !default;

$icon-HourCash: "\e900";
$icon-bakery: "\e901";
$icon-butchery: "\e902";
$icon-cakeShop: "\e903";
$icon-calorGas: "\e904";
$icon-carwash: "\e905";
$icon-coffeeToGo: "\e906";
$icon-CurrentLocationPin: "\e907";
$icon-deli: "\e908";
$icon-disabledFacilities: "\e909";
$icon-dryCleaning: "\e90a";
$icon-fishmonger: "\e90b";
$icon-flowerShop: "\e90c";
$icon-flowerWrapping: "\e90d";
$icon-foreignExchange: "\e90e";
$icon-freeFrom: "\e90f";
$icon-freeParking: "\e910";
$icon-freshToGo: "\e911";
$icon-gardenCentre: "\e912";
$icon-Generic: "\e913";
$icon-halalMeat: "\e914";
$icon-ListingsPin: "\e915";
$icon-locationPinMap: "\e916";
$icon-makeYourOwnPizza: "\e917";
$icon-nationalLottery: "\e918";
$icon-newLookCafe: "\e919";
$icon-nutmeg: "\e91a";
$icon-ovenFresh: "\e91b";
$icon-parentAndChild: "\e91c";
$icon-partyZone: "\e91d";
$icon-petrol: "\e91e";
$icon-Pharmacy: "\e91f";
$icon-photoPrinting: "\e920";
$icon-pizzaCounter: "\e921";
$icon-recyclingCentre: "\e922";
$icon-rugDoctor: "\e923";
$icon-SearchIcon: "\e924";
$icon-wifi: "\e925";
$icon-worldFoods: "\e926";

