@import "_icon_vars";

@font-face {
  font-family: 'Morrisons-Font-V1';
  src:  url('../fonts/Morrisons-Font-V1.eot?3l9ww8');
  src:  url('../fonts/Morrisons-Font-V1.eot?3l9ww8#iefix') format('embedded-opentype'),
    url('../fonts/Morrisons-Font-V1.ttf?3l9ww8') format('truetype'),
    url('../fonts/Morrisons-Font-V1.woff?3l9ww8') format('woff'),
    url('../fonts/Morrisons-Font-V1.svg?3l9ww8#Morrisons-Font-V1') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Morrisons-Font-V1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Generic {
  &:before {
    content: $icon-Generic;
  }
}

.icon-24HourCash {
  &:before {
    content: $icon-HourCash;
  }
}
.icon-bakery {
  &:before {
    content: $icon-bakery;
  }
}
.icon-butcher {
  &:before {
    content: $icon-butchery;
  }
}
.icon-cakeShop {
  &:before {
    content: $icon-cakeShop;
  }
}
.icon-calorGas {
  &:before {
    content: $icon-calorGas;
  }
}
.icon-carwash {
  &:before {
    content: $icon-carwash;
  }
}
.icon-coffeeToGo {
  &:before {
    content: $icon-coffeeToGo;
  }
}
.icon-CurrentLocationPin {
  &:before {
    content: $icon-CurrentLocationPin;
  }
}
.icon-deli {
  &:before {
    content: $icon-deli;
  }
}
.icon-disabledFacilities {
  &:before {
    content: $icon-disabledFacilities;
  }
}
.icon-dryCleaning {
  &:before {
    content: $icon-dryCleaning;
  }
}
.icon-fishmonger {
  &:before {
    content: $icon-fishmonger;
  }
}
.icon-flowerShop {
  &:before {
    content: $icon-flowerShop;
  }
}
.icon-flowerWrapping {
  &:before {
    content: $icon-flowerWrapping;
  }
}
.icon-foreignExchange {
  &:before {
    content: $icon-foreignExchange;
  }
}
.icon-freeFrom {
  &:before {
    content: $icon-freeFrom;
  }
}
.icon-freeParking {
  &:before {
    content: $icon-freeParking;
  }
}
.icon-freshToGo {
  &:before {
    content: $icon-freshToGo;
  }
}
.icon-gardenCentre {
  &:before {
    content: $icon-gardenCentre;
  }
}

.icon-halalMeat {
  &:before {
    content: $icon-halalMeat;
  }
}
.icon-halalCounter {
  &:before {
    content: $icon-halalMeat;
  }
}
.icon-ListingsPin {
  &:before {
    content: $icon-ListingsPin;
  }
}
.icon-locationPinMap {
  &:before {
    content: $icon-locationPinMap;
  }
}
.icon-makeYourOwnPizza {
  &:before {
    content: $icon-makeYourOwnPizza;
  }
}
.icon-nationalLottery {
  &:before {
    content: $icon-nationalLottery;
  }
}
.icon-newLookCafe {
  &:before {
    content: $icon-newLookCafe;
  }
}
.icon-nutmeg {
  &:before {
    content: $icon-nutmeg;
  }
}
.icon-ovenFresh {
  &:before {
    content: $icon-ovenFresh;
  }
}
.icon-parentAndChild {
  &:before {
    content: $icon-parentAndChild;
  }
}
.icon-partyZone {
  &:before {
    content: $icon-partyZone;
  }
}
.icon-lpg {
  &:before {
    content: $icon-petrol;
  }
}
.icon-Pharmacy {
  &:before {
    content: $icon-Pharmacy;
  }
}
.icon-photoPrinting {
  &:before {
    content: $icon-photoPrinting;
  }
}
.icon-pizzaCounter {
  &:before {
    content: $icon-pizzaCounter;
  }
}
.icon-recyclingCentre {
  &:before {
    content: $icon-recyclingCentre;
  }
}
.icon-rugDoctor {
  &:before {
    content: $icon-rugDoctor;
  }
}
.icon-SearchIcon {
  &:before {
    content: $icon-SearchIcon;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}
.icon-worldFoods {
  &:before {
    content: $icon-worldFoods;
  }
}

