// banner
.store-image {
    background-color: #999;
    background-image: url(#{$imgPath}/StoreFinder_MainBanner_Mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
    @include small {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_Mobile.jpg);
    }
    @include tablet {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_PRTablet.jpg);
    }
    @include desktop {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_LSTablet.jpg);
    }
    @include desktop-lg {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_Desktop.jpg);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $small-width),
only screen and ( min--moz-device-pixel-ratio: 2) and (min-width: $small-width),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: $small-width),
only screen and ( min-device-pixel-ratio: 2) and (min-width: $small-width),
only screen and ( min-resolution: 192dpi) and (min-width: $small-width),
only screen and ( min-resolution: 2dppx) and (min-width: $small-width) {
    .store-image {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_MobileX2.jpg);
    }
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .store-image {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_MobileX2.jpg);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $tablet-width),
only screen and ( min--moz-device-pixel-ratio: 2) and (min-width: $tablet-width),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: $tablet-width),
only screen and ( min-device-pixel-ratio: 2) and (min-width: $tablet-width),
only screen and ( min-resolution: 192dpi) and (min-width: $tablet-width),
only screen and ( min-resolution: 2dppx) and (min-width: $tablet-width) {
    .store-image {
        background-image: url(#{$imgPath}/StoreFinder_MainBanner_PRTabletX2.jpg);
    }
}

// search
.search {
    text-align: center;
    &>div {
        margin: 1.5em 0;
        padding: 2em 0.8em 0.1em 0.8em;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        transition: all 0.5s ease;
        @include tablet {
            padding-left: 8%;
            padding-right: 8%;
            &.form-spacing {
                margin: 6em 0;
                padding-top: 40px;
                padding-bottom: 10px;
            }
        }
    }
}

.search .form {
    padding: 0;
    margin: 1.2em 0;
    &>div {
        padding-right: 0px;
        padding-left: 0px;
        @include tablet {
            padding-right: 15px;
            padding-left: 15px;
            &.form-spacing {
                margin: 10px 0 10px 0!important;
            }
        }
    }
}

.search input,
.search .btn-default,
.search input:focus,
.search .btn-default:focus,
.search input:active,
.search .btn-default:active {
    width: 100%;
    height: 46px;
    border: 0;
    outline: none;
}

.search input {
    border-radius: 0;
    font: 300 1.1em $font;
    background: #fff;
    color: #111;
}

.search input:focus,
.search input:active,
.search input:-webkit-autofill {
    background-color: #fff;
}

.search .btn-default {
    background: $yellow;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    color: #4e4e4e;
    font: 300 1.1em/46px $font;
    padding: 0;
}

.search-icon {
    height: 100%;
    display: inline-block;
    background: transparent url(#{$imgPath}/SearchIcon-01.svg) no-repeat left center;
    background-size: 28% 60%;
    padding-left: 30px;
    overflow: visible;
}

.use-location {
    margin: 0;
    padding: 14px 0 0 0;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font: 100 1em $font;
    & a {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }
    @include tablet {
        text-align: left;
        padding: 0 0 0 15px;
    }
}

.current-location-icon {
    display: inline-block;
    height: 15px;
    width: 17px;
    vertical-align: middle;
    padding-right: 5px;
    background: transparent url(#{$imgPath}/CurrentLocationPin-01.svg) no-repeat left center;
}

#curentLoc.loader,
#routeUserLoc.loader {
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 0;
    vertical-align: middle;
    margin: 0 4px 0 -2px;
    background: transparent url(#{$imgPath}/spinner.svg) no-repeat left center;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.cityListing li a {
    font: bold 1.2em $font;
    display: block;
    color: $dark-grey;
    background: transparent url(#{$imgPath}/ListingsPin-01.svg) no-repeat 0 0;
    background-size: 18px 40px;
    padding-left: 28px;
    margin: 25px 0;
    @include tablet {
        margin: 10px 0;
        font: bold 1.2em/40px $font;
    }
    & span {
        display: block;
        font-weight: 100;
        font-size: 0.9em;
        @include tablet {
            display: inline;
        }
    }
}

#stores {
    padding-left: 0;
    padding-right: 0;
}

.stores-list {
    position: relative;
    font-size: 0.9em;
    border-bottom: 3px double #eee;
    padding-bottom: 20px;
    margin-bottom: 16px;
    &:last-child {
        border-bottom: none;
    }
}

.store-list-info {
    position: absolute;
    right: 0;
    top: 5px;
    text-align: right;
    @include tablet {
        top: 0px;
    }
}

.store-address {
    margin-bottom: 10px;
    font: 100 1em $font;
    color: $dark-grey;
    @include tablet {
        font: 100 1.1em $font;
    }
}

.store-list-details p {
    margin: 0;
    font: 500 1em $font;
    color: $dark-grey;
    & a,
    & a:hover {
        text-decoration: none;
    }
    & .hours-black,
    & .hours-red {
        font-size: 1.1em;
    }
}

.results-header-marker {
    display: inline-block;
    width: 19px;
    height: 26px;
    padding-top: 4px;
    overflow: visible;
    margin-right: 5px;
    font-weight: 500;
    font-size: 0.9em;
    vertical-align: middle;
    background: transparent url(#{$imgPath}/ListingsPin-01.svg) no-repeat 0px 0px;
    text-align: center;
    color: #fff;
}

.store-list-address-hours h3 a {
    color: $dark-grey;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.stores-results .store-list-address-hours {
    padding-right: 30%;
}

.results {
    padding: 0 0 20px 0;
    & .introduction {
        font: 100 0.9em/1.6em $font;
        padding: 0 10%;
        text-align: center;
        color: #666;
        margin-bottom: 30px;
    }
}

.ribbon {
    width: 80px;
    position: relative;
    height: 16px;
    text-align: center;
    margin-bottom: 10px;
    background: $mid-green;
    padding: 2px 0 2px 0;
    transform: translateX(10px);
    & p {
        font: 100 0.7em/13px $font;
        color: #fff;
        text-transform: uppercase;
        margin: 0px;
        padding: 0 9px 0 0px;
        @include tablet {
            font: 100 0.9em/18px $font;
        }
        & a {
            color: #fff;
            text-decoration: none;
            @include tablet {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    @include tablet {
        width: 110px;
        height: 22px;
        margin-bottom: 1px;
        padding: 3px 0 2px 0;
    }
}

.ribbon {
    & .ribbon-content:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        left: -8px;
        top: 0;
        border-right: 8px solid $mid-green;
        @include tablet {
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            left: -11px;
            top: 0;
            border-right: 11px solid $mid-green;
        }
    }
    & .ribbon-content:after {
        border-color: #2c4734 transparent transparent transparent;
        position: absolute;
        display: block;
        border-style: solid;
        bottom: -9px;
        content: '';
        right: 0;
        border-width: 9px 8px 0 0;
        @include tablet {
            bottom: -12px;
            border-width: 12px 11px 0 0;
        }
    }
}

.stores-list .distance {
    font-style: italic;
    padding-right: 0.3em;
    @include tablet {
        font-size: 1.1em;
        padding: 0.3em 1em 0 0;
    }
}

.stores-list .more-details {
    padding-right: 3px!important;
    position: absolute;
    bottom: 21px;
    right: 0px;
    margin: 0;
    & a {
        color: $mid-green;
        text-decoration: underline;
    }
    &:first-letter {
        text-transform: capitalize;
    }
    @include tablet {
        padding-right: 1em;
        font-size: 1.1em;
        bottom: 21px;
        right: 10px;
    }
}

.nav-tabs,
.nav-pills {
    text-align: center;
    border-bottom: 1px solid $dark-green;
    &>li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 45%;
        &>a,
        &>a:hover {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid $dark-green;
            cursor: pointer;
            font: bold 0.9em $font;
            text-transform: uppercase;
            border-radius: 4px 4px 0 0;
            background-color: #ebebeb;
            color: $mid-green;
        }
        &>a:hover {
            background: #d9d9d9;
        }
    }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    color: $mid-green;
    background-color: #fff;
    border: 1px solid $dark-green;
    text-transform: uppercase;
    border-bottom-color: transparent;
    font: bold 0.9em $font;
    cursor: pointer;
}

@media (max-width: 767px) {
    .device-big {
        display: none;
    }
    .device-small {
        display: block;
    }
}

.tab-content .tab-pane {
    display: none;
    &.active {
        display: block;
    }
}

@media only screen and (min-width: $tablet-width) {
    .device-big,
    .tab-content .tab-pane {
        display: block;
    }
    .device-small {
        display: none;
    }
    .tab-content .tab-pane {
        display: block;
    }
    .tab-content>.tab-pane#stores {
        padding-right: 0!important;
        padding-left: 20px!important;
    }
}

.hours-black,
.hours-red {
    display: block;
    color: #333;
}

.details .hours-black,
.details .hours-red {
    font-size: 1.2em;
}

.store-list-details .hours-red {
    font-weight: 100;
}

.hours-red {
    color: #f00;
}