.details .route-planner .use-location {
    margin: 0 0 10px 0;
    padding: 14px 0 0 0;
    color: $dark-green;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    font: 100 1em $font;
    & a {
        color: #888;
    }
    @include tablet {
        text-align: left;
        font: 100 0.9em $font;
    }
    @include desktop {
        font: 300 1em $font;
    }
}

.details {
    @include tablet {
        & .current-location-icon {
            padding-right: 6px;
        }
    }
}

#routeUserLoc.loader {
    background: transparent url(#{$imgPath}/spinner-dark.svg) no-repeat left center;
}

.store-details {
    padding-bottom: 30px;
}

.store-name {
    position: relative;
    padding: 15px 0;
}

.details {
    padding: 25px 0 0 0;
}

#accordinglist {
    margin: 0 0 30px 0;
    & #accordion {
        outline: 1px solid $dark-green;
        & a {
            color: $mid-green;
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover,
            &:active,
            &:focus {
                outline: 0;
                text-decoration: none;
            }
        }
    }
}

#accordinglist #accordion {
    & h3 {
        text-align: left;
        font: 500 1.1em $font;
    }
    & .glyphicon {
        font-size: 0.6em;
        padding-top: 4px;
    }
}

#accordinglist #accordion .panel-default {
    background: #fff;
    border: 0;
    border-top: 1px solid $dark-green;
    border-radius: 0;
    &:first-child {
        border-top: 0;
    }
    &>.panel-heading {
        background: #fff;
        border-bottom: 0;
        border-color: #fff;
        padding-top: 0;
        padding-bottom: 0;
        &+.panel-collapse>.panel-body {
            border-top-color: #fff;
        }
    }
}

#accordinglist ul {
    list-style-type: none;
    width: 100%;
    display: table;
    padding: 0;
    table-layout: fixed;
    &.specialOpeningTimes {
        border-top: 1px solid #666666;
        margin-top: 16px;
        padding-top: 10px;
        & li {
            font: normal 1em/13px $font;
            margin-bottom: 20px!important;
            & span {
                color: #b11f20;
                font-weight: 100;
            }
        }
    }
}

#accordinglist ul li {
    display: table-row;
    width: 100%;
    font: 100 1em/13px $font;
    &.highLightday span {
        font-weight: bold;
    }
    & span {
        text-align: left;
        color: #666;
        padding: 5px 0;
        display: table-cell;
        &:nth-child(1) {
            float: left;
            width: 40%;
        }
        &:nth-child(2) {
            float: right;
        }
    }
}

#accordinglist ul li {
    @include tablet-only {
        display: block;
        margin: 10px 0;
        & span {
            display: block;
            padding: 0;
            &:nth-child(1) {
                float: none;
                width: 100%;
            }
            &:nth-child(2) {
                width: 100%;
                float: none;
            }
        }
    }
}

#accordinglist ul.specialOpeningTimes li span {
    padding: 5px 0;
}

.store-details .telephone {
    margin: 25px 0 0 0;
    font-size: 1.2em;
    font-weight: 100;
    @include tablet {
        margin: 18px 0 0 0;
    }
}

.store-list-details .telephone a,
.store-details .telephone a {
    font-weight: 500;
    color: $dark-grey;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.store-details .telephone a:hover,
.store-list-details .telephone a:hover {
    text-decoration: none;
}

.details .store-address {
    font-size: 1.2em;
    margin: 0;
}

.details .route-planner {
    padding: 0;
    & .form-control {
        width: 100%;
        display: block;
        height: 46px;
        font: 100 1em $font;
        border: 1px solid #999;
        border-radius: 0;
    }
    @include tablet {
        & .form-group {
            margin-bottom: 0;
        }
        & [class*='col-'] {
            padding: 0 10px;
        }
    }
}

.details .route-planner .btn-default,
.details .route-planner .btn-default:hover,
.details .route-planner .btn-default:active,
.details .route-planner .btn-default:focus {
    width: 100%;
    height: 46px;
    background: $dark-green;
    border-radius: 2px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font: 100 1.1em/38px $font;
    margin: 0;
    @include tablet {
        box-sizing: border-box;
        font-size: 0.9em;
    }
    @include desktop {
        font-size: 1.1em;
    }
}

.details .route-planner .btn-default a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.details .route-planner p {
    font-size: 1.1em;
}

.store-details .highlight {
    position: relative;
    padding: 0px;
}

.store-details .highlight h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.8);
    color: $dark-grey;
    font: 700 0.8em $font;
    padding: 0.5em 0;
    margin: 0;
}

.store-details .highlights {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    & .col-xs-6 {
        padding: 0.1em;
    }
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -1px;
    margin-bottom: -7px;
    @include tablet {
        & .highlight {
            padding: 0 5.1%;
            & h3 {
                font: 700 1em/2.3em $font;
                padding: 0.2em 0 0 0;
                margin: 0;
            }
        }
    }
}

.col-centered img {
    width: 100%
}

.store-details #services-instore {
    text-align: center;
    & li {
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: top center;
        display: inline-block;
        vertical-align: top;
        color: $dark-green;
        font: 300 0.8em/1em $font;
        width: 20%;
        margin: 10px 0;
        @include tablet {
            font: 300 0.9em/1em $font;
            width: 12.5%;
            margin: 16px 0;
        }
        & .icon {
            display: block;
            font-size: 3.5em;
            padding-bottom: 5px;
            @include tablet {
                font-size: 4em;
            }
        }
    }
    & .tooltip-inner {
        text-align: center;
        padding: 10px;
        background: $dark-green;
        min-width: 300px;
        margin: 0 15px;
        font: 300 1em $font;
    }
    & .tooltip-arrow {
        border-top-color: $dark-green;
    }
}

.store-banner-title {
    padding-right: 0;
    padding-left: 0;
    height: 130px;
    position: relative;
    background: #fff url('#{$imgPath}/store-images/generic-store-header.jpg') no-repeat center center;
    background-size: cover;
    @include tablet {
        height: 180px;
    }
    @include desktop {
        height: 235px;
    }
    @include desktop-lg {
        height: 285px;
    }
}

#storeImage {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    height: 130px;
    max-height: 130px;
    width: 100%;
    @include tablet {
        height: auto;
        max-height: 180px;
    }
    @include desktop {
        max-height: 235px;
    }
    @include desktop-lg {
        max-height: 285px;
    }
}

.store-name-time {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    background: rgba(0, 0, 0, 0.6);
    @include tablet {
        width: calc(100% - 0px);
        height: calc(50% - 0px);
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        margin: 0;
        padding-top: 30px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
    }
}

.store-name {
    position: relative;
    height: 55%!important;
    background: rgba(0, 0, 0, 0);
    width: 100%;
}

.store-times {
    position: relative;
    height: 40%!important;
    width: 100%;
    display: table;
    & p {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        width: 100%;
        text-align: center;
        @include tablet {
            padding-left: 15px;
            text-align: left;
        }
        & .hours-black {
            color: #c3c3c3;
            font: 500 0.9em/1em $font;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            @include tablet {
                display: inline;
                font: bold 1.3em/1em $font;
                margin-right: 20px;
            }
        }
        & .hours-red {
            font: 100 1em/0.9em $font;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
            @include tablet {
                display: inline;
                font: 300 1.3em/1em $font;
                margin-right: 20px;
                color: #f00;
            }
        }
    }
}

.store-name h1 {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 1%;
    outline: 0px solid #000;
    text-align: center;
    font: 500 1.4em/0.9em $font;
    text-transform: uppercase;
    color: #fff;
    @include tablet {
        padding: 0 15px;
        text-align: left;
        font: 500 3em/0.8em $font;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}

.details .ribbon {
    position: absolute;
    top: 12px;
    right: 20px;
    transform: translateX(8px);
    width: 90px;
    @include tablet {
        top: 10px;
        right: -7px;
        width: 150px;
        height: 34px;
        text-align: center;
        margin-bottom: 1px;
        background: $mid-green;
        padding: 3px 0 2px 0;
        transform: translateX(10px);
        & p {
            font: 300 1.1em/30px $font;
            color: #fff;
            text-transform: uppercase;
            margin: 0px;
            padding: 0 9px 0 0px;
            & a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.details .ribbon {
    @include tablet {
        & .ribbon-content:before {
            content: '';
            width: 0;
            height: 0;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
            position: absolute;
            left: -17px;
            top: 0;
            border-right: 17px solid $mid-green;
        }
        & .ribbon-content:after {
            border-color: #2c4734 transparent transparent transparent;
            position: absolute;
            display: block;
            border-style: solid;
            bottom: -17px;
            content: '';
            right: 0;
            border-width: 17px 17px 0 0;
        }
    }
}

.store-address-telephone {
    text-align: center;
    @include tablet {
        text-align: left;
    }
}

.store-address-telephone .telephone {
    border-top: 3px double #ddd;
    padding-top: 25px;
    @include tablet {
        padding-top: 18px;
    }
}

#store-details>div,
#store-map>div {
    margin: 30px auto;
    @include tablet {
        margin: 0px auto 20px 0;
        &.store-address-telephone {
            margin-bottom: 30px;
        }
    }
}

.details .route-planner .alert {
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

@media (min-width: $tablet-width) {
    .container.store-details {
        overflow: hidden;
    }
}

.details-header {
    padding-top: 0
}

.back-to-home {
    font: 100 1em/30px $font;
}

.back-to-home a {
    color: $light-green
}

.deliver-Box {
    background: $dark-green;
    padding: 25px;
    margin: 25px;
}

.catchment .catchment__image {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 20px 0;
    @include tablet {
        margin: 0 0;
    }
}

.catchment .catchment__image .catchment__image--responsive {
    padding-top: 50.97783572359844%;
    display: block;
    height: 0;
    @include tablet {
        padding-top: 0;
        height: 302px;
    }
    @include desktop {}
    @include desktop-lg {}
}

.catchment {
    position: relative;
    &.catchment--available {
        .catchment__image {
            background-image:url('#{$imgPath}/catchment-xs.gif');
            @include tablet {
                background-image:url('#{$imgPath}/catchment-sm.gif');
            }
            @include desktop {
                background-image:url('#{$imgPath}/catchment-md.gif');
            }
            @include desktop-lg {
                background-image:url('#{$imgPath}/catchment-lg.gif');
            }
        }
    }
    &.catchment--not-available {
        .catchment__image {
            background-image:url('#{$imgPath}/not-in-catchment-xs.gif');
            @include tablet {
                background-image:url('#{$imgPath}/not-in-catchment-sm.gif');
            }
            @include desktop {
                background-image:url('#{$imgPath}/not-in-catchment-md.gif');
            }
            @include desktop-lg {
                background-image:url('#{$imgPath}/not-in-catchment-lg.gif');
            }
        }
    }
    .catchment__link {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-indent: -9999px;
        display: block;
        color: transparent;
        background: transparent;
    }
}