.route-planner-page a {
    color: $light-green;
    font: 100 1em $font;
}

.route-planner-page {
    & #itineraryDiv {
        max-width: 300px;
        margin: 0 auto;
        @include tablet {
            max-width: 100%;
            margin: 0px auto;
        }
    }
    & #map-outer {
        height: 300px;
    }
}

.route-planner-page .margin-top {
    margin-top: 30px
}