#maps {
    width: 95%;
    height: 400px!important;
}

#maps-listing {
    width: 95%;
    height: 500px;
    @include tablet {
        width: 100%;
        height: 480px!important;
    }
}

#map {
    padding: 20px;
}

#map-outer {
    height: 200px;
}

.route-planner-page #directions-map,
.route-planner-page #directions {
    margin-top: 20px;
}

#map-outer-listing {
    height: 400px!important;
    @include tablet {
        height: 480px!important;
    }
}

#map-outer #mapdiv {
    padding-left: 30px!important;
    padding-right: 30px!important;
}

#itineraryDiv {
    font-size: 0.9em;
}

#itineraryDiv>div {
    padding: 0!important;
}

#directions-map #map-outer {
    height: 350px;
    @include tablet {
        height: 500px;
    }
    & #mapdiv {
        padding-left: 30px!important;
        padding-right: 30px!important;
        height: 350px;
        @include tablet {
            padding-left: 30px!important;
            padding-right: 30px!important;
            height: 500px;
        }
    }
}

.userpos {
    margin-top: 5px;
}

// need to overrride MS inline styles
.MicrosoftMap .infobox-close {
    cursor: pointer!important;
    position: absolute!important;
    right: 0px!important;
    top: 0px!important;
    font-size: 15px!important;
}

.MicrosoftMap .Infobox {
    position: absolute;
    background-color: white!important;
    border: 1px solid #fff!important;
    left: -50%;
    bottom: 42px!important;
    width: auto!important;
    min-width: 100px!important;
    white-space: nowrap!important;
    text-align: center!important;
    color: #07553f!important;
    font: normal 1em 'Morrisons-Agenda', Arial, sans-serif!important;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.56)!important;
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.56)!important;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.56)!important;
    & a {
        color: #07553f!important;
        text-decoration: underline!important;
    }
    & .infobox-info {
        margin: 5px;
        font-family: 'Morrisons-Agenda', Arial, sans-serif!important;
        padding: 0 10px 10px 10px;
        height: auto;
        position: relative;
        width: auto;
    }
    & .infobox-stalk {
        width: 22px!important;
        height: 20px!important;
        overflow: hidden!important;
        position: relative!important;
        z-index: 1!important;
        left: 23px!important;
        bottom: 25px!important;
        background: url('../images/pointer_shadow.png')no-repeat!important;
        top: -2px!important;
    }
}

element.style {
    font-size: 9pt!important;
    font-family: 'Morrisons-Agenda', Arial, sans-serif!important;
    top: 10px!important;
}

#storemaps {
    height: 250px!important;
    width: 100%;
    @include tablet {
        height: 302px!important;
        width: 100%!important;
    }
}

#storefindermaps {
    height: 450px!important;
    width: 100%;
}

.storemap-outer {
    margin: 0 15px 15px 15px;
    width: calc(100% - 30px);
    @include tablet {
        margin-right: 0!important;
        width: 100%;
    }
}

.error-msgs li {
    padding: 5px;
    color: red;
}

.MicrosoftMap .OverlaysTL {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (min-width: $tablet-width) {
    .stores-results #map {
        height: 480px;
        padding-left: 0;
        margin-bottom: 40px;
    }
}