<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title ng-bind="ngMeta.title"></title>
    <base href="/">
    <meta name="fragment" content="!" />
    <meta name="keywords" content="{{ngMeta['keywords']}}" />
    <meta name="description" content="{{ngMeta.description}}" />
    <meta name="viewport" content="width=device-width">

    <link href="apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="icon-hires.png" rel="icon" sizes="192x192" />
    <link href="icon-normal.png" rel="icon" sizes="128x128" />


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container header">
            <a class="navbar-home" href="./"> <span class="sr-only">Morrisons Store Finder</span></a>
        </div>
    </nav>
    <div ng-view>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="footer-links list-unstyled">
                        <li><a href="https://groceries.morrisons.com/webshop/startWebshop.do">Shop online groceries</a></li>
                        <li><a href="https://www.morrisons.com/more/">Morrisons More Card</a></li>
                        <li><a href="index.html">Store finder</a></li>
                        <li><a href="https://your.morrisons.com/Contact-Us/?clkInTab=ContactUs">Contact Us</a></li>
                    </ul>
                    <p class="text-center">&copy; Copyright Wm Morrison Supermarkets plc
                        <span time-year></span>. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-19890257-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>
    <script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>

    <script src="https://unpkg.com/object-fit-images@3.1.2/dist/ofi.min.js"></script>



</body>

</html>
