<div ng-include src="'views/searchheader.html'"></div>
<div class="container">
      <div class="row stores-results storeListing " id="storeListingDiv">
        <div class="col-md-12" >
          <ul class="nav nav-tabs device-small device-big" role="tablist" ng-if="dbMarkers.length">
            <li role="presentation" class="active"><a data-target="#stores" aria-controls="stores" role="tab" data-toggle="tab">List</a></li>
            <li role="presentation"><a data-target="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
          </ul>
          <div class="tab-content" ng-if="dbMarkers.length">
            <div role="tabpanel" class="tab-pane active col-xs-12 col-sm-6 col-sm-push-6" id="stores">
              <div ng-repeat="marker in dbMarkers track by $index|async" class="stores-list">
                <div itemscope itemtype="https://schema.org/LocalBusiness">
                  <div class="store-list-address-hours">
                    <h3><a href="{{marker.id}}"><span class="results-header-marker">{{::$index+1}}</span> <span itemprop="name">{{::marker.storeName}}</span></a></h3>
                    <div itemscope itemtype="schema.org/PostalAddress" class="store-address">
                      <span itemprop="streetAddress"  data-ng-if="marker.addressLine1|async">{{::marker.addressLine1}}</span>
                      <br />
                      <span itemprop="postalCode"  data-ng-if="marker.postcode|async">{{::marker.postcode}}</span>
                    </div>
                    <div class="store-list-details">
                      <p><span itemprop="openingHours" datetime="Mo-Su" ng-bind-html="marker.storeTiming |openingClosing :'listing':marker.specialTime|async"></span> </p>
                    </div>
                  </div>
                  <div class="store-list-info">
                    <div class="ribbon"  ng-if="(marker.id | getFreshStore)==true|async">
                      <strong class="ribbon-content">
                      <p>New look store</p>
                      </strong>
                    </div>
                    <p class="distance">{{::marker.distance*0.000621371|number:2}} mi<span class="hidden-xs">les away</span></p>
                  </div>
                </div>
                 <p class="more-details"><a href="{{marker.id}}"><span class="hidden-xs">view </span>more details ></a></p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane col-xs-12 col-sm-6 col-sm-pull-6" id="map">             
              <div class="col-md-12" id="map-outer-listing">
                <div id="maps-listing">
                   <bing-map map-option="mapOptions|async" db-markers="dbMarkers|async"></bing-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>