<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Store Finder</h1>
        </div>
    </div>
</div>
<div class="store-image">
    <div class="container " ng-controller="StoreSearchCtrl">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 search">
                <div class="">
                    <h2>Find your local store and its opening times</h2>
                    <div class="form clearfix">
                        <form name="storeForm" touch-submit ng-submit="findStore()">
                            <div class="form-group col-xs-12 col-sm-8">

                                <input type="text" class="form-control frm-control-input" name="searchTerm" ng-model="searchTerm" placeholder="Enter your postcode or town" required auto-focus>


                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <button type="submit" class="btn btn-default" id="findStore"><span class="search-icon">Find Stores</span> </button>
                            </div>

                        </form>

                        <p class="use-location col-xs-12"><span class="current-location-icon" id="curentLoc"></span><a ng-click="searchByCurrent()">Use current location</a></p>


                        <p class="alert alert alert-danger error-div col-xs-12" role="alert" ng-show='locationErr' style="clear:both; margin-top:20px">
                            {{errorMsg}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>