<div class="container route-planner-page">
    <div class="row">
        <div class="col-xs-12">
            <p class="back-to-home"><a href ng-click='back()'>&#60; Store Details</a></p>
            <div class="alert alert alert-danger error-div" role="alert" ng-show='routeError'>
                <p>{{routeErrorMsg}}</p>
            </div>
            <div class="alert alert alert-danger error-div hide" id="directions-error">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row directions" ng-hide='routeError'>
        <div class="col-xs-12">
            <h2>Directions to {{storeName}}</h2>
        </div>
        <ul class="nav nav-tabs device-small device-big" role="tablist" ng-controller="StoreRouteCtrl">
            <li role="presentation" class="active"><a data-target="#directions" aria-controls="directions" role="tab" data-toggle="tab">Directions</a></li>
            <li role="presentation"><a data-target="#directions-map" aria-controls="directions-map" role="tab" data-toggle="tab">Map</a></li>
        </ul>
        <div class="tab-content">
            <div bing-route="bingMapArgs"> &nbsp; </div>
        </div>
    </div>
    <div class="col-xs-12 margin-top">
        <p class="back-to-home"><a href ng-click='back()'>&#60; Store Details</a></p>
    </div>
</div>
</div>
