<div class="container store-details">
    <div class="row details details-header">
        <div class="col-xs-12 ">
            <p class="back-to-home"><a href="./">&#60; Store Finder Home</a></p>
            <div class="store-banner-title">
                <img ng-show="selectedStore.storeImage" ng-src="{{selectedStore.storeImage}}" class="img-responsive" on-error-src="{{selectedStore.storeDefaultImage}}" id="storeImage" />
                <div class="store-name-time">
                    <div itemscope itemtype="https://schema.org/LocalBusiness" class="store-name">
                        <h1 itemprop="name">{{::selectedStore.storeName}}</h1>
                    </div>
                    <div class="store-times" itemtype="https://schema.org/LocalBusiness">
                        <p><span itemprop="openingHours" datetime="Mo-Su" ng-bind-html="selectedStore.openingTimes | openingClosing :'detail':selectedStore.storeSpecialTiming|async"></span> </p>
                    </div>
                </div>
                <div class="ribbon" ng-if="(selectedStore.name | getFreshStore)==true">
                    <strong class="ribbon-content"><p>New look store</p></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row details">
        <ul class="nav nav-tabs device-small device-big" role="tablist">
            <li role="presentation" class="active"><a data-target="#store-details" aria-controls="store-details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a data-target="#store-map" aria-controls="store-map" role="tab" data-toggle="tab">Map</a></li>
        </ul>
        <!--<div class="tab-content">-->
        <div class="tab-content col-xs-12 col-sm-10">
            <div class="row">
                <div role="tabpanel" class="tab-pane active col-xs-12 col-sm-4" id="store-details">
                    <div itemscope itemtype="https://schema.org/LocalBusiness" class="store-address-telephone">
                        <div itemscope itemtype="schema.org/PostalAddress" class="store-address">
                            <span itemprop="streetAddress" ng-if="selectedStore.address.addressLine1" class="line-break">{{::selectedStore.address.addressLine1}}</span> <span ng-if="selectedStore.address.addressLine2" class="line-break"> {{::selectedStore.address.addressLine2}}</span>
                            <span itemprop="addressLocality" ng-if="selectedStore.address.city">{{::selectedStore.address.city}}</span> <span itemprop="postalCode" ng-if="selectedStore.address.postcode">{{::selectedStore.address.postcode}}</span>
                        </div>
                        <p class="telephone">Phone: <span itemprop="telephone" ng-if="selectedStore.telephone"><a href="tel: {{selectedStore.telephone}}">{{::selectedStore.telephone}}</a></span></p>
                    </div>
                    <!--<div id="accordinglist">-->
                    <div id="accordinglist">
                        <h2>Opening hours</h2>
                        <div class="scrollstore" id="scrollingDiv">
                            <div id="accordion">
                                <div custom-collapse ng-model="tabContent" collapse-panel-id="collapse-panel" collapse-panel-body-id="collapse-panel-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane col-xs-12 col-sm-8 map" id="store-map">

                    <!--<div ng-class="(localDeliverFlag===true) ? 'col-md-10 storemap-outer-deliver' : 'col-md-12 storemap-outer'"  id="storemap-outer">-->
                    <div class="col-md-12" id="storemap-outer">
                        <div id="storemaps">
                            <bing-map-store map-option="mapOptions"></bing-map-store>
                        </div>
                    </div>


                    <div class="col-md-12 route-planner" ng-controller="RouteCtrl">
                        <p class="col-xs-12">Find the quickest route to this store</p>
                        <form name="routeForm" ng-submit="getRoute()">

                            <div class="form-group col-xs-12 col-sm-7">
                                <input type="text" class="form-control" name="travelFrom" ng-model="travelFrom" placeholder="Enter your postcode" required>
                            </div>

                            <div class="col-xs-12 col-sm-5">
                                <button type="submit" class="btn btn-default">Plan Route</button>
                            </div>
                        </form>


                        <div class="col-xs-12 col-sm-12">
                            <p class="use-location"><span class="current-location-icon" id="routeUserLoc"></span><a ng-click="captureUserLocation()">Use current location</a></p>
                        </div>
                        <div class="col-xs-12">
                            <p class="alert alert alert-danger error-div " role="alert" ng-show='directionsError'>
                                {{directionsErrorMsg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-2 catchment" ng-class="(localDeliverFlag===true) ? 'catchment--available' : 'catchment--not-available'">
            <span class="catchment__image" role="img" aria-label="Delivery Catchment">
        <span class="catchment__image--responsive">
        </span>
            </span>
            <a class="catchment__link" href="https://groceries.morrisons.com/webshop/startWebshop.do?dnr=y&utm_source=storefinder&utm_medium=internal&utm_campaign=inc" ng-show="localDeliverFlag">Shop Online</a>
            <a class="catchment__link" href="https://your.morrisons.com/MorrisonsMakesIt/?utm_source=storefinder&utm_medium=internal&utm_campaign=ooc" ng-hide="localDeliverFlag">Morrisons Makes It</a>
        </div>


    </div>
    <div class="row highlights row-centered">
        <h2>Store Highlights</h2>
        <div class="col-xs-6 col-sm-3 col-centered" ng-repeat="storeHigh in storeHightLight track by $index|async">
            <div class="highlight">
                <h3>{{storeHigh.serviceName}}</h3>
                <img ng-src="{{::storeHigh.img}}" alt="{{::storeHigh.serviceName}}" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row services">
        <div class="col-xs-12">
            <h2>In-store Services </h2>
            <ul class="list-inline" id="services-instore">
                <li ng-repeat="services in services" class="tooltip-options" data-toggle="tooltip" title="{{::services.serviceName}}">
                    <span class="icon icon-Generic icon-{{::services.name}}"></span> {{::services.serviceName}}
                </li>
            </ul>
        </div>
    </div>
</div>