<div ng-include src="'views/searchheader.html'"></div>
 <div class="container">
<!-- Store sepecific service  -->

      <div class="row results hide" id="storeCityListingDiv">
       

        <div class="col-xs-12">
          
        
          <h2>Choose your location</h2>
          <ul class="cityListing list-unstyled">
            <li ng-repeat="cityies in dbCityList track by $index|async">
              
           <a href="stores/{{cityies.searchCity}}" ng-bind-html="cityies.city | displayCity|async"></a>
            </li>
         </ul>       
        </div>
      </div>
<!-- Store sepecific service end -->
 </div>
 